<div class="card">
  <div class="card-header">
    <h3>Add Movie</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <%= render 'form', movie: @movie %>
      </div>
    </div>
  </div>
</div>